In [75]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
data_netflix = pd.read_csv('C:\\Users\\Usuario\\Downloads\\netflix_titles.csv')
data_disney = pd.read_csv('C:\\Users\\Usuario\\Downloads\\disney_plus_titles.csv')
data_hulu = pd.read_csv('C:\\Users\\Usuario\\Downloads\\hulu_titles.csv')
data_amazon = pd.read_csv('C:\\Users\\Usuario\\Downloads\\amazon_prime_titles.csv')

In [77]:
###TRANSFORMACION DE LOS DATOS Netflix
data_netflix['Plataforma'] = ['Netflix'] * len(data_netflix) #Creo la columna plataforma

data_netflix['show_id'] = 'n' + data_netflix['show_id']  #Transformacion de id 

data_netflix['rating'] = data_netflix['rating'].fillna('G')

data_netflix['date_added'] = pd.to_datetime(data_netflix['date_added'])

data_netflix['type'] = data_netflix['type'].str.lower()
data_netflix['title'] = data_netflix['title'].str.lower()
data_netflix['director'] = data_netflix['director'].str.lower()
data_netflix['cast'] = data_netflix['cast'].str.lower()
data_netflix['country'] = data_netflix['country'].str.lower()
data_netflix['listed_in'] = data_netflix['listed_in'].str.lower()
data_netflix['description'] = data_netflix['description'].str.lower()

data_netflix[['duration_int', 'duration_type']] = data_netflix['duration'].str.split(' ', expand=True)
data_netflix.drop(columns=['duration'], inplace=True)
data_netflix['duration_int'] = data_netflix['duration_int'].fillna(0).astype(int)
data_netflix['duration_int'] = data_netflix ['duration_int'].astype(int)
 
data_netflix['Plataforma'] = data_netflix['Plataforma'].str.lower()

In [78]:
###TRANSFORMACION DE LOS DATOS Amazon

data_amazon['show_id'] = 'a' + data_amazon['show_id']  #Transformacion de id 

data_amazon['rating'] = data_amazon['rating'].fillna('G') #Donde haya  filas nullas colocar una G 'apto para todo publico' 

data_amazon['date_added'] = pd.to_datetime(data_amazon['date_added']) # Tranformar tipo de dato a datatime 

data_amazon['type'] = data_amazon['type'].str.lower()
data_amazon['title'] = data_amazon['title'].str.lower()
data_amazon['director'] = data_amazon['director'].str.lower()
data_amazon['cast'] = data_amazon['cast'].str.lower()
data_amazon['country'] = data_amazon['country'].str.lower()
data_amazon['listed_in'] = data_amazon['listed_in'].str.lower()
data_amazon['description'] = data_amazon['description'].str.lower() # Tranformando mayusculas en minusculas 

data_amazon[['duration_int', 'duration_type']] = data_amazon['duration'].str.split(' ', expand=True)
data_amazon.drop(columns=['duration'], inplace=True)#Transformando de columna 'duration' a 'duration_type' y 'duration_int'
data_amazon['duration_int'] = data_amazon['duration_int'].fillna(0).astype(int)
data_amazon['duration_int'] = data_amazon['duration_int'].astype(int)
data_amazon['Plataforma'] = ['Amazon'] * len(data_amazon)
data_amazon['Plataforma'] = data_amazon['Plataforma'].str.lower()

In [79]:
###TRANSFORMACION DE LOS DATOS Disney

data_disney['show_id'] = 'd' + data_disney['show_id']  #Transformacion de id 

data_disney['rating'] = data_disney['rating'].fillna('G') #Donde haya  filas nullas colocar una G 'apto para todo publico' 

data_disney['date_added'] = pd.to_datetime(data_disney['date_added']) # Tranformar tipo de dato a datatime 

data_disney['type'] = data_disney['type'].str.lower()
data_disney['title'] = data_disney['title'].str.lower()
data_disney['director'] = data_disney['director'].str.lower()
data_disney['cast'] = data_disney['cast'].str.lower()
data_disney['country'] = data_disney['country'].str.lower()
data_disney['listed_in'] = data_disney['listed_in'].str.lower()
data_disney['description'] = data_disney['description'].str.lower() # Tranformando mayusculas en minusculas 

data_disney[['duration_int', 'duration_type']] = data_disney['duration'].str.split(' ', expand=True)
data_disney.drop(columns=['duration'], inplace=True)#Transformando de columna 'duration' a 'duration_type' y 'duration_int'
data_disney['duration_int'] = data_disney['duration_int'].fillna(0).astype(int)
data_disney['duration_int'] = data_disney['duration_int'].astype(int)
data_disney['Plataforma'] = ['Disney'] * len(data_disney)
data_disney['Plataforma'] = data_disney['Plataforma'].str.lower()

In [80]:
###TRANSFORMACION DE LOS DATOS Hulu

data_hulu['show_id'] = 'h' + data_hulu['show_id']  #Transformacion de id 

data_hulu['rating'] = data_hulu['rating'].fillna('G') #Donde haya  filas nullas colocar una G 'apto para todo publico' 

data_hulu['date_added'] = pd.to_datetime(data_hulu['date_added']) # Tranformar tipo de dato a datatime 

data_hulu['type'] = data_hulu['type'].str.lower()
data_hulu['title'] = data_hulu['title'].str.lower()
data_hulu['director'] = data_hulu['director'].str.lower()
data_hulu['cast'] = data_hulu['cast'].fillna('').astype(str)
data_hulu['cast'] = data_hulu['cast'].astype(str)
data_hulu['cast'] = data_hulu['cast'].str.lower()
data_hulu['country'] = data_hulu['country'].str.lower()
data_hulu['listed_in'] = data_hulu['listed_in'].str.lower()
data_hulu['description'] = data_hulu['description'].str.lower() # Tranformando mayusculas en minusculas 

data_hulu[['duration_int', 'duration_type']] = data_hulu['duration'].str.split(' ', expand=True)
data_hulu.drop(columns=['duration'], inplace=True)#Transformando de columna 'duration' a 'duration_type' y 'duration_int'
data_hulu['duration_int'] = data_hulu['duration_int'].fillna(0).astype(int)
data_hulu['duration_int'] = data_hulu ['duration_int'].astype(int)
data_hulu['Plataforma'] = ['Hulu'] * len(data_hulu)
data_hulu['Plataforma'] = data_hulu['Plataforma'].str.lower()

In [81]:
###Concatenacion de los datasets
df_concat = pd.concat([data_netflix, data_hulu, data_amazon, data_disney], axis=0)

In [82]:
df_concat.to_csv('platform_concat.csv')

In [83]:
#Importacion de los 8 csv
df = pd.read_csv('C:\\Users\\Usuario\\Downloads\\8.csv')
df.head(3)

   userId  rating   timestamp movieId
0  108422     4.5  1350689762  as1399
1  108422     4.0  1350341401  as6724
2  108422     5.0  1350689691   ns512

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [85]:
#cambio el formato de la columna 'timestamp', aca lo paso de int a 'float'
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s').dt.strftime('%B %d, %Y')

In [86]:
#paso a formato fecha 
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [87]:
#Cambiamos el nombre del campo 'rating' por 'score'
df_rating = df.rename(columns = {'rating' : 'score'})

In [88]:
df_rating.head()

   userId  score  timestamp movieId
0  108422    4.5 2012-10-19  as1399
1  108422    4.0 2012-10-15  as6724
2  108422    5.0 2012-10-19   ns512
3  108422    4.5 2012-10-15  ns7444
4  108422    4.5 2012-10-19  as2230

In [89]:
df_rating.shape

(1500000, 4)

In [90]:
#Calculo el promedio de cada pelicula 
MeanScore = df_rating.groupby("movieId")
MeanScore = MeanScore["score"].mean()

In [91]:
#Lo pasamos a un dataframe y reseteamos el indice
df_MeanScore= pd.DataFrame(MeanScore)
df_MeanScore

            score
movieId
as1      3.492754
as10     3.343750
as100    3.745902
as1000   3.615385
as1001   3.746032
...           ...
ns995    3.436508
ns996    3.615942
ns997    3.655738
ns998    3.541096
ns999    3.578571

[22998 rows x 1 columns]

In [92]:
#Concatenamos los scores con sus plataformas segun el id correspondiente
platform_movies = df_concat.merge(df_MeanScore, left_on="show_id", right_on="movieId")

In [93]:
platform_movies.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,Plataforma,duration_int,duration_type,score
0,ns1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,PG-13,documentaries,"as her father nears the end of his life, filmm...",netflix,90,min,3.71875
1,ns2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,TV-MA,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",netflix,2,Seasons,3.56250
2,ns3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,TV-MA,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,netflix,1,Season,3.65000

In [98]:
platform_movies.shape

(22998, 15)

In [99]:
platform_movies.isnull().sum()

show_id              0
type                 0
title                0
director          8259
cast              2248
country          11499
date_added        9554
release_year         0
rating               0
listed_in            0
description          4
Plataforma           0
duration_int         0
duration_type      482
score                0
dtype: int64

In [100]:
platform_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           20750 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   listed_in      22998 non-null  object
 10  description    22994 non-null  object
 11  Plataforma     22998 non-null  object
 12  duration_int   22998 non-null  int32
 13  duration_type  22516 non-null  object
 14  score          22998 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(11)
memory usage: 2.7+ MB

In [101]:
platform_movies.to_csv('platform_movies_scores.csv')

In [97]:
df_concat.to_csv('platform_concat.csv')